// Devices VP widths

$desktopWidth: 1440px;
$tabletWidth: 768px;
$mobileWidth: 767px;

// Fonts

@import "fonts.scss";

$Oswald: "Oswald", "Arial", sans-serif;
$Arial: "Arial", sans-serif;

// Colors

$basicGreen: #68b738;
$basicGreen2: #5eaa2f;
$headerGreen: #63a73a;
$white: #ffffff;
$shadowWhite: #f2f2f2;
$lighterGrey: #e6e6e6;
$lightGrey: #eaeaea;
$black: #000000;
$black2: #111111;
$black3: #222222;
$borderGrey: #d9d9d9;
$darkGrey: #666666;
$deepGraphite: #444444;
$whiteGrey: #d3d3d3;
$lighterGrey2: #cdcdcd;
$ligherGrey3: #dcdcdc;
$specialGrey: #ebebeb;
$specialGrey2: #b2b2b2;
$specialGrey3: #bababa;
$specialRed: #ff8282;
