.page-main__programs {
  margin-top: 22px;

  @media (min-width: $tabletWidth) {
    margin-top: -6px;
  }

  @media (min-width: $desktopWidth) {
    margin-top: 132px;
  }
}

.page-main__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;

  @media (min-width: $tabletWidth) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__example-wrapper {
  background-color: $lightGrey;

  @media (min-width: $tabletWidth) {
    background: linear-gradient(to bottom, $white, $white 619px, $lightGrey 619px, $lightGrey);
  }

  @media (min-width: $desktopWidth) {
    background: linear-gradient(to bottom, $white, $white 192px, $lightGrey 192px, $lightGrey);
  }
}
